* {
	box-sizing: border-box;
}

body {
	--light-color: #18cfab;
	--dark-color: #1c2a33;
	font-family: "Montserrat", sans-serif;
}

.highlight {
	color: var(--light-color);
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
}

/* header section*/
.header_section {
	width: 100%;
	min-height: 1012px;
	background-image: url("../img/background/section_1_header.png");
	background-position: center;
}

.topper {
	height: 120px;
	background-color: rgba(73, 71, 63, 0.6);
}

.content {
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* logo */

.logo {
	width: 200px;
	height: 67px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	color: #fff;
	line-height: 33px;
	user-select: none;
	cursor: pointer;
}

.logo span {
	font-weight: bold;
}

.hexagon {
	width: 70px;
	height: 33px;
	background-color: var(--light-color);
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-right: 8px;
	position: relative;
}

.hexagon:before,
.hexagon:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
	position: absolute;
	left: 0;
}

.hexagon:before {
	border-bottom: 17px solid var(--light-color);
	top: -17px;
}

.hexagon:after {
	border-top: 17px solid var(--light-color);
	bottom: -17px;
}

/* main menu */
.main_nav {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: bold;
	user-select: none;
}

.main_nav__items {
	display: flex;
}

.main_nav_item {
	text-transform: uppercase;
	margin-left: 23px;
}

.main_nav_item a {
	text-decoration: none;
	color: #b8b8b8;
	padding: 52px 0;
	/* border-bottom: 2px solid var(--light-color); */
}

.main_nav_item a:hover {
	color: var(--light-color);
	border-bottom: 2px solid var(--light-color);
}

.search {
	margin-left: 18px;
	cursor: pointer;
}

/* banner */

.banner {
	margin: 244px auto 0;
	text-align: center;
}

.banner_title {
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 23px;
}

.banner__tagline {
	color: #fff;
	font-size: 79px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 23px;
}

.banner__sub_tagline {
	color: #d4d4d4;
	font-size: 34px;
	font-weight: 300;
	margin-bottom: 142px;
}

.btn {
	display: inline-block;
	position: relative;
	width: 165px;
	height: 65px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	background-color: #fff;
	line-height: 70px;
	border-radius: 3px;
	z-index: 1;
	cursor: pointer;
}

.btn:before {
	content: "";
	position: absolute;
	width: 165px;
	height: 65px;
	border-radius: 3px;
	top: 5px;
	left: 0;
	background-color: var(--light-color);
	z-index: -2;
}

.explore {
	margin-right: 28px;
}

.btn_purchase:before {
	background-color: #00cbf6;
}

/* features section */

.feature {
	display: flex;
}

.feature_div {
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 25%;
	height: 374px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

.feature_img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 87px;
	margin-bottom: 47px;
	height: 99px;
}

.light {
	background-color: var(--light-color);
	color: #fff;
	cursor: pointer;
	border-top: 7px solid #fff;
}

.dark {
	background-color: var(--dark-color);
	color: var(--light-color);
	cursor: pointer;
	border-top: 7px solid var(--light-color);
}

/* our services */

.title {
	margin: 76px auto 107px;
	position: relative;
	font-size: 36px;
	color: #4e4e4e;
	text-align: center;
}

.title:before,
.title:after {
	content: "";
	position: absolute;
	width: 75px;
	height: 1px;
	background-color: var(--light-color);
	transform: translateX(50%);
}

.title:before {
	top: 75px;
	right: calc(50% - 10px);
}

.title:after {
	top: 71px;
	right: calc(50% + 4px);
}

.division {
	margin: 0 auto;
}

.division_tabs {
	display: flex;
	user-select: none;
}

.division_tab {
	flex-grow: 1;
	height: 72px;
	color: #717171;
	background-color: #f8fcfe;
	border: 1px solid #ebebeb;
	line-height: 72px;
	text-align: center;
	cursor: pointer;
}

.active_tab {
	font-size: 16px;
	color: #fff;
	background-color: var(--light-color);
	position: relative;
}

.active_tab:after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	transform: rotate(45deg);
	background-color: var(--light-color);
	bottom: -8px;
	left: calc(50% - 11px);
}

.division_tabs_content {
	margin-top: 25px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #777777;
	margin-bottom: 101px;
}

.division_tab_content {
	display: none;
}

.division_img_container {
	flex-shrink: 0;
	width: 194px;
	height: 139px;
	margin-right: 20px;
	overflow: hidden;
}

.division_img_container img {
	height: 100%;
	object-fit: cover;
}

.division_tab_active {
	display: flex;
}

/* Purchase section */

.purchase {
	display: flex;
	width: 100%;
	height: 477px;
	background: rgba(0, 0, 0, 0.7) url("../img/background/section-2.jpg");
	background-blend-mode: multiply;
	background-position: center;
	text-align: center;
	color: #d8d8d8;
	font-size: 16px;
}

.purchase_header {
	font-size: 40px;
	font-weight: bold;
	color: var(--light-color);
	text-transform: uppercase;
	margin-top: 122px;
}

.purchase p {
	margin-top: 28px;
	margin-bottom: 73px;
}

/* Our work section */

.our_works {
	display: flex;
	width: 100%;
	background-color: #f8fcfe;
}

.our_works_buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 72px;
}

.our_works__button {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	position: relative;
	height: 58px;
	padding: 0 25px;
	background-color: #fff;
	border: 1px solid #ebebeb;
	color: #717171;
	line-height: 58px;
	cursor: pointer;
	transition: all 0.5s ease;
	outline: none;
	user-select: none;
}

.our_works__button:first-child {
	padding: 0 30px;
}

.our_works__button:not(:last-child) {
	border-right: none;
}

.checked {
	color: var(--light-color);
}

.checked:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--light-color);
	left: 0;
	top: -2px;
	transition: all 0.5s ease;
}

.our_works__content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.our_works__img_container {
	display: none;
	position: relative;
	width: 285px;
	height: 207px;
}

.our_works_card {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}

.our_works_card:hover {
	transform: rotateY(180deg);
}

.our_work__img {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	overflow: hidden;
}

.our_work__img img {
	width: 101%;
}

.our_works__descr {
	width: 100%;
	height: 100%;
	position: absolute;
	border-top: 2px solid var(--light-color);
	text-align: center;
	background-color: #fff;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

.our_work__icons {
	display: flex;
	justify-content: center;
	margin-top: 46px;
}

.icon,
.link {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-bottom: 34px;
	line-height: 40px;
	cursor: pointer;
	user-select: none;
}

.link {
	margin-right: 5px;
	border: 1px solid var(--light-color);
}

.our_work_search {
	background-color: var(--light-color);
}

.our_work_search img {
	width: 12px;
}

.our_work__icons_header {
	font-size: 14px;
	font-weight: bold;
	color: var(--light-color);
	text-transform: uppercase;
	margin-bottom: 15px;
}

.our_work__icons_descr {
	font-size: 12px;
	font-weight: 300;
}

.show {
	display: block;
}

.more {
	width: 165px;
	height: 60px;
	margin: 0 auto;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 60px;
	padding-left: 32px;
	background-color: var(--light-color);
	color: white;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
}

.more:before {
	content: "+";
	position: absolute;
	top: 0;
	left: 18px;
	font-size: 35px;
	font-weight: bold;
}

.remove {
	display: none;
}

.button_block {
	position: relative;
	margin-top: 71px;
	margin-bottom: 99px;
}

/*Loader*/
.holder {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

.preloader {
	/* size */
	width: 30px;
	height: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	animation: rotatePreloader 2s infinite ease-in;
}

@keyframes rotatePreloader {
	0% {
		transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
	}
	100% {
		transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
	}
}

.preloader div {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.preloader div:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 0%;
	width: 10%;
	height: 10%;
	background-color: var(--dark-color);
	transform: translateX(-50%);
	border-radius: 50%;
}

.preloader div:nth-child(1) {
	transform: rotateZ(0deg);
	animation: rotateCircle1 2s infinite linear;
	z-index: 9;
}

@keyframes rotateCircle1 {
	0% {
		opacity: 0;
	}
	0% {
		opacity: 1;
		transform: rotateZ(36deg);
	}
	7% {
		transform: rotateZ(0deg);
	}
	57% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.preloader div:nth-child(2) {
	transform: rotateZ(36deg);
	animation: rotateCircle2 2s infinite linear;
	z-index: 8;
}

@keyframes rotateCircle2 {
	5% {
		opacity: 0;
	}
	5.0001% {
		opacity: 1;
		transform: rotateZ(0deg);
	}
	12% {
		transform: rotateZ(-36deg);
	}
	62% {
		transform: rotateZ(-36deg);
	}
	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.preloader div:nth-child(3) {
	transform: rotateZ(72deg);
	animation: rotateCircle3 2s infinite linear;
	z-index: 7;
}

@keyframes rotateCircle3 {
	10% {
		opacity: 0;
	}
	10.0002% {
		opacity: 1;
		transform: rotateZ(-36deg);
	}
	17% {
		transform: rotateZ(-72deg);
	}
	67% {
		transform: rotateZ(-72deg);
	}
	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.preloader div:nth-child(4) {
	transform: rotateZ(108deg);
	animation: rotateCircle4 2s infinite linear;
	z-index: 6;
}

@keyframes rotateCircle4 {
	15% {
		opacity: 0;
	}
	15.0003% {
		opacity: 1;
		transform: rotateZ(-72deg);
	}
	22% {
		transform: rotateZ(-108deg);
	}
	72% {
		transform: rotateZ(-108deg);
	}
	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.preloader div:nth-child(5) {
	transform: rotateZ(144deg);
	animation: rotateCircle5 2s infinite linear;
	z-index: 5;
}

@keyframes rotateCircle5 {
	20% {
		opacity: 0;
	}
	20.0004% {
		opacity: 1;
		transform: rotateZ(-108deg);
	}
	27% {
		transform: rotateZ(-144deg);
	}
	77% {
		transform: rotateZ(-144deg);
	}
	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.preloader div:nth-child(6) {
	transform: rotateZ(180deg);
	animation: rotateCircle6 2s infinite linear;
	z-index: 4;
}

@keyframes rotateCircle6 {
	25% {
		opacity: 0;
	}
	25.0005% {
		opacity: 1;
		transform: rotateZ(-144deg);
	}
	32% {
		transform: rotateZ(-180deg);
	}
	82% {
		transform: rotateZ(-180deg);
	}
	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.preloader div:nth-child(7) {
	transform: rotateZ(216deg);
	animation: rotateCircle7 2s infinite linear;
	z-index: 3;
}

@keyframes rotateCircle7 {
	30% {
		opacity: 0;
	}
	30.0006% {
		opacity: 1;
		transform: rotateZ(-180deg);
	}
	37% {
		transform: rotateZ(-216deg);
	}
	87% {
		transform: rotateZ(-216deg);
	}
	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.preloader div:nth-child(8) {
	transform: rotateZ(252deg);
	animation: rotateCircle8 2s infinite linear;
	z-index: 2;
}

@keyframes rotateCircle8 {
	35% {
		opacity: 0;
	}
	35.0007% {
		opacity: 1;
		transform: rotateZ(-216deg);
	}
	42% {
		transform: rotateZ(-252deg);
	}
	92% {
		transform: rotateZ(-252deg);
	}
	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.preloader div:nth-child(9) {
	transform: rotateZ(288deg);
	animation: rotateCircle9 2s infinite linear;
	z-index: 1;
}

@keyframes rotateCircle9 {
	40% {
		opacity: 0;
	}
	40.0008% {
		opacity: 1;
		transform: rotateZ(-252deg);
	}
	47% {
		transform: rotateZ(-288deg);
	}
	97% {
		transform: rotateZ(-288deg);
	}
	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.preloader div:nth-child(10) {
	transform: rotateZ(324deg);
	animation: rotateCircle10 2s infinite linear;
	z-index: 0;
}

@keyframes rotateCircle10 {
	45% {
		opacity: 0;
	}
	45.0009% {
		opacity: 1;
		transform: rotateZ(-288deg);
	}
	52% {
		transform: rotateZ(-324deg);
	}
	102% {
		transform: rotateZ(-324deg);
	}
	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

/*-------------------------------------------*/

/* breaking news section */

.breaking_news {
	min-height: 960px;
	display: flex;
}

.cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	position: relative;
	width: 263px;
	height: 280px;
	margin-bottom: 46px;
	background-color: #f8fcfe;
}

.card_link {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

.card_img {
	display: block;
}

.card_descr {
	display: block;
	width: 263px;
	height: 72px;
	border: 2px solid #ececec;
	padding: 10px 0 0 15px;
}

.card_title {
	display: block;
	color: #717171;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
	transition: all 0.5s ease;
}

.card_author,
.card_comments {
	display: inline-block;
	color: #777777;
	font-size: 14px;
	font-weight: 300;
}

.card_author {
	padding-right: 15px;
	border-right: 1px solid black;
}

.card_comments {
	margin-left: 12px;
}

.card_info_date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	width: 67px;
	height: 65px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 23px;
	background-color: #203e38;
	top: 0;
	right: 0;
	transition: all 0.5s ease;
}

.card:hover .card_info_date {
	background-color: var(--light-color);
}

.card:hover .card_title {
	color: var(--light-color);
}

/* about the ham section */
.say_about_theham {
	display: flex;
	height: 852px;
	background: url("../img/background/section-3.jpg") no-repeat center;
	min-height: 0;
}

.dark_title {
	color: #fff;
	margin-top: 94px;
	margin-bottom: 90px;
}

.quotes {
	background-image: url("../img/quotes.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 70px;
	margin-bottom: 15px;
}

/* sliders */

.slick-track {
	display: flex;
	margin: 0 auto;
}

.slick-list {
	overflow: hidden;
	margin: 0 auto;
}

.authors_slider {
	width: 482px;
	margin: 0 auto;
	position: relative;
	padding: 0 60px;
}

.author_avatar_slide {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 0 5px rgba(62, 149, 134, 0.2);
	cursor: pointer;
	transition: all 0.5s ease;
}

.author_avatar_slide:hover {
	border: 2px solid var(--light-color);
}

.author_avatar_container,
.comment_container {
	outline: none;
}

.slick-slide.slick-current .author_avatar_slide {
	border: 2px solid var(--light-color);
	transform-origin: 0% 100%;
	animation-name: hop;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes hop {
	50% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-12px);
	}
}

.authors_slider .slick-arrow {
	font-size: 0;
	background-color: transparent;
	position: absolute;
	width: 31px;
	height: 31px;
	border: 1px solid #bbbbbb;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	outline: none;
	cursor: pointer;
	transition: all 0.5s ease;
}

.authors_slider .slick-next {
	right: 0;
}

.authors_slider .slick-prev {
	left: 0;
}

.authors_slider .slick-next:before,
.authors_slider .slick-prev:before {
	content: "";
	position: absolute;
	top: calc(50% - 4px);
	width: 9px;
	height: 9px;
	border-left: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	transition: all 0.5s ease;
}

.authors_slider .slick-next:before {
	transform: rotate(-135deg);
	right: 12px;
}

.authors_slider .slick-prev:before {
	transform: rotate(45deg);
	left: 12px;
}

.authors_slider .slick-next:hover,
.authors_slider .slick-prev:hover {
	background-color: var(--light-color);
	border: 1px solid transparent;
}

.authors_slider .slick-prev:hover:before,
.authors_slider .slick-next:hover:before {
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.comment_slider .slick-slide.slick-current {
	outline: none;
}

.comment {
	position: relative;
	color: #bbbbbb;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	line-height: 30px;
	margin-bottom: 16px;
}

.comment_author {
	font-size: 16px;
	font-weight: bold;
	color: var(--light-color);
	margin-top: 26px;
	text-transform: uppercase;
}

.comment_author_position {
	color: #bbbbbb;
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 32px;
}

.author_avatar {
	display: flex;
	justify-content: center;
	margin: 0 auto 52px;
	width: 135px;
	height: 135px;
	border-radius: 50%;
	border: 4px solid var(--light-color);
	overflow: hidden;
	box-shadow: 0 0 0 12px rgba(62, 149, 134, 0.2);
}

.author_avatar img {
	width: 100%;
	object-fit: cover;
}

.authors {
	position: relative;
	width: 359px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* gallery */

.gallery {
	min-height: 1370px;
}

.gallery_container {
	display: flex;
	align-items: center;
	align-content: space-between;
	width: 1140px;
	height: 990px;
	flex-direction: column;
	flex-wrap: wrap;
}

.gallery__content_item img {
	width: 100%;
}

.gallery_images {
	width: 370px;
	margin-top: 18px;
	background-size: cover;
}

.gallery__content_item {
	position: relative;
	overflow: hidden;
}

.gallery_image_last_item {
	width: 364px;
}

.content_item_hover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -2px;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: opacity 0.5s ease;
}

.gallery__content_item:hover .content_item_hover {
	opacity: 1;
}

.gallety_image_icon_resize,
.gallety_image_icon_search {
	position: absolute;
	width: 42px;
	height: 38px;
	background-color: #14b9d5;
	border-radius: 2px;
    top: calc(50% - 21px);
    cursor: pointer;
}

.gallety_image_icon_resize {
	left: calc(50% - 46px);
    background-image: url("../img/our_work_search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.gallety_image_icon_search {
    right: calc(50% - 46px);
    background-image: url("../img/rezise.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.double {
	display: flex;
	justify-content: space-between;
	width: 364px;
	position: relative;
}

.small {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 0;
	margin-bottom: 18px;
	width: 364px;
	height: 285px;
	position: relative;
}

/* footer */
.footer {
	width: 100%;
	height: 108px;
	background-color: var(--dark-color);
}

.copyright {
	color: #aeaeae;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	line-height: 108px;
}
